@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main-container {
    flex-direction: column;
    display: flex;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.intro-section {
    justify-content: flex-start; /* Align content to the top */
    padding-top: 100px; /* Adjust this value to match your header height */
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1230px;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}


.name {
    color: white;
    font-size: 6.8rem;
    font-weight: 700;
    letter-spacing: -6.5px;
    margin-bottom: 0;
    /* Remove bottom margin */
    text-align: left;
    /* Ensure left alignment */
}

.college {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-align: left;
    /* Ensure left alignment */
    padding-left: 4px;
}